<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
            <div class="col-12 grid-margin stretch-card">
              <div>
              <div class="card" style="width:700px">

                <div class="card-body">
                  <h4 class="card-title">Edit Department Details</h4>
                  <p class="card-description">
                    Basic details of department
                  </p>
                  <form class="forms-sample" method="POST" action="{% url 'updatedeptpage' dataid=data.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Department Name" name="Dname" value="{{data.Name}}">
                    </div>

                    <div class="form-group">
                      <label>Upload Image</label>
                      <input type="file"  class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info"  placeholder="Upload Image" name="Dimage">
                        <img src="{{data.Image.url}}" width="100px" height="45px">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="Ddescription" >{{data.Description}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
                </div>
            </div>
</body>
</html>
{% endblock %}